<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Enter your Otp
    </h1>

    <form action="{% url 'otp_verify' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="entr_otp">
        <input type="hidden" name="otp" value={{otp}}>
        <input type="submit" value="Verify">
    </form>
</body>
</html>